﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LoginPlayLyfe.aspx.cs" Inherits="PlayLyfe.Demo.LoginPlayLyfe" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <strong>
        <asp:Button ID="btnLoginToPlayLyfe" runat="server" 
            onclick="btnLoginToPlayLyfe_Click" 
            style="color: #FFFFFF; font-weight: 700; background-color: #009933" 
            Text="PlayLyfe" Width="105px" />
        <br />
        </strong>
    
    </div>
    </form>
</body>
</html>
